@page
@using PongMultiplayer.Pages;
@model IndexModel
@{
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pong Multiplayer</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="styles.4bb997251c258c4a04bf.css">
</head>
<body class="noselect">
    <app-root></app-root>
    <script type="text/javascript" src="runtime.ec2944dd8b20ec099bf3.js"></script>
    <script type="text/javascript" src="polyfills.c6871e56cb80756a5498.js"></script>
    <script type="text/javascript" src="main.fe1e785af90c02619f7c.js"></script>
</body>
</html>
